.video-section {
  width: 1140px;
  height: fit-content ;
  //border: 2px solid yellow;
  text-align: center;
  margin: 0 auto;
}

.video-section h2 {
  @include heading ($fc-green, $f-size)
}

.video-section__boxes {
  display: flex;
  flex-wrap: wrap;
  article{
    flex: 1;
    text-align: center;
    padding: 25px;
  }
  iframe {
  box-shadow: 0px 0px 10px 2px gray;
  }
}