
.header {
  width: 100vw;
  height: 100vh;
  background: url(https://raw.githubusercontent.com/Chare023/AllExceptOne/master/img/125935668_10159258706496807_7254456885850297072_o.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80%;
  position: relative;
  max-width: 100%;
}