
.header {
  width: 100vw;
  height: 100vh;
  background: url(https://github.com/Chare023/AllExceptOne/blob/master/img/126286936_10159258646401807_4464212280319623014_o.jpg?raw=true);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80%;
  position: relative;
  max-width: 100%;
}
